

.coming-soon {
    
    height: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .link {
        color: orange;
    }

}