.app-navbar {
    background: transparent !important;
    color: #fff;
    padding: 25px 0 !important;
    border-bottom: 1px solid #ce2c68;
    a {
        color: #fff;
        &:hover {
            color: #fff !important;
        }
        &.active {
            color: red !important;
        }
        &.navbar-brand {
            &.active {
                color: #fff !important;
            }
        }
    }

    .nav-link-block {
        a {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }
}