
.locked-survey-card {
    width: 300px;
    height: 340px !important;
    background: grey !important;
    margin: 15px 0;
    .locked-survey-card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 125px;
        color: #fff;
    }
}