.main-carousel-container {
    .main-carousel {
        // height: 300px;
        color: #fff;
        width: 100%;
        padding-top: 40px;
        .carousel-indicators {
            top: 0 !important;
            z-index: 0;
            button[aria-label~="completed"] {
                background-color: green;;
            }
        }
        .carousel-inner {
            margin: 0 auto;
            height: 100%;
            width: 600px;
            padding: 15px;
            border: 1px solid #fff;

            .carousel-item {
                height: 100%;
                .carousel-caption {
                    position: relative !important;
                    right: 0;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }
    .carousel-controller-block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }
}