.form-block {
    text-align: left;
    border-radius: 10px;
}
.option-item {
    padding: 5px 10px;
    background: #fff;
    margin: auto 5px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        margin-left: 5px;
        font-size: 14px;
        padding: 0;
        line-height: 1px;
        background: transparent;
        border: 0;
        color: #000;
        &:hover {
            color: red;
            background: #fff;
        }
    }
}