.survey-basic-details {

    .form-block {
        text-align: left;
    }
    .category-tag {
        background-color: #80808047;
        border-radius: 5px;
        font-size: 14px;
        button {
            font-size: 10px;
        }
    }
}