.colourful-outline:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    opacity: 1;
    background: conic-gradient(
      from 180deg at 50% 50%,
      #fcd15a -28.43deg,
      #ce2c68 85.25deg,
      #fcd15a 331.57deg,
      #ce2c68 445.25deg
    );
    filter: blur(1px);
    transition: all 100ms ease-out;
    border-radius: 30px;
  }
  .colourful-outline:hover:before {
    filter: blur(6px);
    opacity: 0.8;
  }