.ctgmaincontain {
  background-color: #363737;
  height: auto;

}

.category {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.filter-button {
  background: transparent !important;
  font-size: 16px !important;
  color: aliceblue !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  position: absolute !important;
  right: 20px !important;
  padding: 10px !important;
  border-color: #6c757d !important;

  &:hover {
    border-color: #fff !important;
  }
}

.categorynav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  padding: 20px 15px 40px;
  button {
    font-size: 14px;
    &.active {
      background: #fcd15a;
      color: #000 !important;
    }
  }
}

.category-selector {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin: 10px;
  border-color: #fff !important;
  color: #fff !important;
}