@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* iExec Yellow/iexec-yellow-50 = #FEFBF0 */
    --yellow-50: 47 88% 97%;
    --yellow-50_2: hsl(47 88% 97%); /* Do not use: Just to see the color */

    /* iExec Yellow/iexec-yellow-200 = #F9DD90 */
    --yellow-200: 44 90% 77%;
    --yellow-200_2: hsl(44 90% 77%); /* Do not use: Just to see the color */

    /* iExec Yellow/iexec-yellow-300 = #FCD15A */
    --yellow-300: 44 96% 67%;
    --yellow-300_2: hsl(44 96% 67%); /* Do not use: Just to see the color */

    /* Grey/grey-50 = #FCFCFC = rgb(252 252 252) */
    --grey-50: 0 0% 99%;
    --grey-50_2: hsl(0 0% 99%); /* Do not use: Just to see the color */

    /* Grey/grey-100 = #F2F2F7 */
    --grey-100: 240 24% 96%;
    --grey-100_2: hsl(240 24% 96%); /* Do not use: Just to see the color */

    /* Grey/grey-300 = #D3D3D8 */
    --grey-300: 240 6% 84%;
    --grey-300_2: hsl(240 6% 84%); /* Do not use: Just to see the color */

    /* Grey/grey-500 = #82828E = rgb(130 130 142) */
    --grey-500: 240 5% 53%;
    --grey-500_2: hsl(240 5% 53%); /* Do not use: Just to see the color */

    /* Grey/grey-600 = #5D5D69 = rgb(93 93 105) */
    --grey-600: 240 6% 39%;
    --grey-600_2: hsl(240 6% 39%); /* Do not use: Just to see the color */

    /* Grey/grey-700 = #303038 = rgb(48 48 56) */
    --grey-700: 240 8% 20%;
    --grey-700_2: hsl(240 8% 20%); /* Do not use: Just to see the color */

    /* Grey/grey-800 = #1D1D24 = rgb(29 29 36) */
    --grey-800: 240 11% 13%;
    --grey-800_2: hsl(240 11% 13%); /* Do not use: Just to see the color */

    /* Grey/grey-900 = #0D0D12 */
    --grey-900: 240 16% 6%;
    --grey-900_2: hsl(240 16% 6%); /* Do not use: Just to see the color */

    /* Green/green-50 = #F1FDF9 */
    /* Taken from web3mail-usecase-demo */
    --green-50: 160 75% 97%;
    --green-50_2: hsl(160 75% 97%); /* Do not use: Just to see the color */

    /* Green/green-600 = #00A36E */
    /* Taken from web3mail-usecase-demo */
    --green-600: 160 100% 32%;
    --green-600_2: hsl(160 100% 32%); /* Do not use: Just to see the color */

    /* Orange/orange-50 = #FFF8F0 */
    /* Taken from web3mail-usecase-demo */
    --orange-50: 32 100% 97%;
    --orange-50_2: hsl(32 100% 97%); /* Do not use: Just to see the color */

    /* Orange/orange-500 = #DA7B0B */
    /* Taken from web3mail-usecase-demo */
    --orange-500: 32 90% 45%;
    --orange-500_2: hsl(32 90% 45%); /* Do not use: Just to see the color */

    --primary: var(--yellow-300);
    --primary-foreground: var(--grey-800);

    --accent: var(--grey-100);
    --accent-foreground: 222.2 47.4% 11.2%;

    /*--background: var(--grey-900);*/
    --background: 240 100% 0%; /* #000002 -> What's on Figma */
    --foreground: 0 0% 100%; /* white */

    --success: var(--green-50);
    --success-foreground: var(--green-600);

    --danger: var(--orange-50);
    --danger-foreground: var(--orange-500);

    /* border */
    --button: var(--grey-800);

    /* ring */
    --ring: 222.2 84% 4.9%;
  }
}

:root {
  --background-color: #0d0d12;
  --iexec-yellow: #fcd15a;
  --text-color: #fff;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.top {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px 30px 0px;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
}

.top-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 12em;
  fill: white;
  margin: 0px 20px 0px 0px;
}

.top-navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-navigation ul li {
  position: relative;
  top: -1px;
  margin-left: 30px;
}

.top-navigation a {
  color: #8c8c90;
}

.top-navigation a.active {
  color: #fff;
}

.top-right {
  flex-basis: 10%;
  max-width: 10%;
  display: flex;
  justify-content: center;
}

.pulse-icon {
  font-size: 2em;
  margin: 0px 0px auto 5px;
}

/* SLIDER SLIDER */
.customSliderContainer {
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 0px 3px;
}

.customSlider {
  width: 140px;
  height: 50px;
  background: var(--background-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.customSlider span:first-of-type {
  left: 5px !important;
}

.customSlider-track {
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  background: var(--background-color);
}

.customSlider-thumb {
  color: var(--background-color);
  font-size: 1.8em;
  font-weight: 700;
  background: var(--iexec-yellow);
  width: 45px;
  height: 44px;
  border-radius: 10px;
  /* remove default outline when selected */
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customSlider-mark {
  cursor: pointer;
  font-size: 1.8em;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
}

.customSlider-mark.customSlider-mark-active {
  display: none;
}
/* SLIDER SLIDER */

.cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 20px;
}

.card {
  padding: 15px;
  background: rgb(29, 29, 36, 0.5);
  border: 1px solid #5d5d69;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-color);
  transition: background-color 0.4s ease-in;
}

.card:hover {
  background: rgba(16, 16, 20, 0.5);
  transition: background-color 0.2s ease-in;
}

.card:hover .card-logo {
  opacity: 0.65;
  transition: opacity 0.4s ease-in;
}

.e,
.f {
  grid-column: 2 span;
  grid-row: 2 span;
}

.h {
  font-weight: normal;
  align-items: center;
}

.h > .value-title {
  opacity: 0.3;
  transition: opacity 0.4s ease-in;
}

.h:hover .value-title {
  opacity: 0.65;
  transition: opacity 0.4s ease-in;
}

.h:hover .plus-logo {
  opacity: 0.65;
  transition: opacity 0.4s ease-in;
}

.card-first-row {
  display: flex;
  justify-content: space-between;
}

.value-title {
  opacity: 0.65;
  font-size: 2.2em;
  line-height: 1.1;
  display: inline-block;
}

.rlc-earned {
  width: 0.8em;
  margin-left: 10px;
}

.table {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  margin: 20px 0px 0px 0px;
}

.table .head .column {
  opacity: 0.65;
}

.table .row {
  display: flex;
  border-bottom: 1px solid #5d5d69;
  padding: 0px 0px 15px 0px;
  margin: 15px 0px 0px 0px;
  min-width: 0;
}

.table .last {
  border-bottom: none;
  padding: 0px 0px 0px 0px;
}

.table .head {
  padding: 0px 0px 20px 0px;
}

.table .column {
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  overflow: hidden;
}

.table .column p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.big {
  font-size: 1.5em;
  font-weight: 600;
}

.table .one {
  flex: 0.8;
}

.table .two {
  flex: 3;
}

.table .three {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.table.compact .one {
  flex: 1;
}

.table.compact .two {
  flex: 1;
  justify-content: center;
}

.table.compact .three {
  flex: 1;
}

.table .empty {
  justify-content: center;
}

.see-all {
  font-size: 0.5em;
  margin-left: 8px;
}

.helper-icon {
  font-size: 15px;
  vertical-align: top;
  display: inline-block;
}

.card-logo {
  font-size: 35px;
  opacity: 0.3;
  transition: opacity 0.4s ease-in;
}

.users-logo {
  font-size: 30px;
}

.rlc-logo {
  padding: 3px;
  width: 35px;
}

.plus-logo {
  font-size: 3.5em;
  opacity: 0.3;
  transition: opacity 0.4s ease-in;
  margin: 40px;
}

.plus-logo-div {
  display: flex;
  align-items: center;
  flex: 1;
}

.card-value {
  display: flex;
  font-size: 2.5em;
  font-weight: bold;
  margin: 20px 0px;
  justify-content: flex-start;
}

.card-bottom-value {
  display: flex;
  font-weight: 500;
  margin-top: 10px;
  justify-content: flex-start;
  align-items: baseline;
  font-size: 1.4em;
  opacity: 0.75;
}

.btn {
  display: inline-block;
  padding: 0 16px;
  height: 33px;
  width: fit-content;
  background-color: var(--iexec-yellow);
  color: #000;
  font-size: 15px;
  font-weight: bold;
  line-height: 32px;
  border: 0 none;
  border-radius: 8px;
  clear: both;
  transition: all 0.23s ease-in-out 0s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}

.btn:hover {
  opacity: 0.8;
}

.btn-iexec {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-family: proxima-nova, sans-serif;
  height: 2.125rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  padding: 0.75rem 1.875rem;
  background-color: var(--iexec-yellow);
  color: #1d1d24;
}

.btn-iexec {
  height: 2.75rem;
  line-height: 1.25rem;
  padding: 0.75rem 1.875rem;
}

.btn-iexec:hover {
  background-color: #1d1d24;
  color: #f2f2f2;
}

/* page landing */

.border-bottom-gray {
  display: inline-block;
  max-width: 600px;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 0.25px solid #e5e5ea;
}

.border-bottom-gray svg {
  margin-left: 8px;
}

.page-landing .action-email-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .page-landing .action-email-block form {
  width: 100%;
} */

.page-landing .action-email-block .input-text__dark .MuiInputBase-root {
  max-width: 420px;
  min-width: 300px;
  width: 100%;
  background-color: #1d1d24;
}

.page-landing .action-email-block .MuiFormControl-root {
  max-width: none;
}

.page-landing
  .action-email-block
  .input-text__dark
  .MuiInputBase-root
  .MuiInputBase-input::placeholder {
  opacity: 1;
}

.page-landing .action-email-block .btn-iexec {
  margin: 20px auto;
}

.page-landing .gradient-border {
  padding: 1px;
  background: linear-gradient(
    270deg,
    #1d1d24 1.56%,
    #3f0d3f 11.98%,
    #ce2c68 22.4%,
    #fcd15a 43.23%,
    #fcd15a 59.38%,
    #ce2c68 79.17%,
    #3f0d3f 90.1%,
    #1d1d24 100%
  );
}

.page-landing .gradient-border > * {
  margin: 0;
  padding: 20px 0;
  background-color: var(--background-color);
}

.page-landing .gradient-border p b {
  line-height: 1.3;
}

.page-landing .wrap-flipclock {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  padding: 24px 0 16px;
  background-color: #1e1e22;
  border-radius: 12px;
}

.page-landing .wrap-flipclock p {
  margin-bottom: 8px;
}

.page-landing .list-block {
  text-align: left;
}

.page-landing .list-block li {
  margin-bottom: 16px;
  line-height: 1.3;
}

.page-landing .list-block li b {
  display: inline-block;
  width: 100%;
  margin-bottom: 2px;
}

.page-landing .list-block li span {
  display: inline-block;
  width: 100%;
  margin-bottom: 2px;
}

.page-landing .block-actions .step {
  margin-top: 44px;
}

.page-landing .block-actions a {
  text-decoration: underline;
}

.page-landing .block-actions .block-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.page-landing .block-actions .block-list ul {
  margin: 0 auto;
  padding: 0 10px;
  text-align: left;
  font-style: italic;
}

.collapse-title {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.collapse-title .carret-icon {
  margin-left: 8px;
}

/* Timeline */

.block-timeline {
  max-width: 800px;
  margin: 30px auto;
}

.block-timeline .MuiStepIcon-root,
.block-timeline .MuiStepIcon-root.Mui-active {
  fill: var(--iexec-yellow);
}

.block-timeline .MuiStepIcon-root .MuiStepIcon-text {
  fill: var(--background-color);
  font-weight: 600;
}

.block-timeline .Mui-disabled .MuiStepConnector-line {
  background-image: linear-gradient(to left, #6dc7ff, #ef5454 69%, #fcd15a);
}

.block-timeline .MuiStepLabel-labelContainer .MuiStepLabel-label > *,
.block-timeline
  .MuiStepLabel-labelContainer
  .MuiStepLabel-label.Mui-disabled
  > * {
  color: #f2f2f7;
}

.block-timeline .MuiStepLabel-label.Mui-completed > * {
  color: #303038;
}

.block-timeline .MuiStep-root {
  padding-left: 40px;
  padding-right: 40px;
}

.block-timeline
  .MuiStepConnector-root.Mui-active.MuiStepConnector-vertical
  .MuiStepConnector-line,
.block-timeline
  .MuiStepConnector-root.Mui-disabled.MuiStepConnector-vertical
  .MuiStepConnector-line {
  min-height: 50px;
  background-image: linear-gradient(to top, #6dc7ff, #ef5454 69%, #fcd15a);
}

.wrap-tweet h2 {
  margin-bottom: 20px;
}

.wrap-tweet > div {
  display: flex;
  justify-content: center;
}

/* block-status */

.block-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 340px;
  margin: 50px auto 0;
  padding: 20px;
  background-color: #f1fdf9;
  color: #00a36e;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 500;
  border: 1px solid #39dba5;
  border-radius: 8px;
}

.block-status__text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
}

.block-status__error {
  background-color: #fff8f0;
  color: #da7b0b;
  border-color: #ffad4d;
}

.block-status__error small {
  margin-top: 8px;
  color: #ffad4d;
  font-size: 12px;
}

@media (max-width: 1400px) {
  .value-title {
    font-size: 1.6em;
  }
}

@media (max-width: 1100px) {
  .value-title {
    font-size: 2.3em;
  }
  .top-container {
    flex-direction: column;
  }
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .top {
    padding: 0px 35px;
  }

  .page-landing h1 {
    font-size: 50px;
  }
}

@media (max-width: 750px) {
  .top-container {
    flex-direction: column;
  }
  .logo {
    width: 10em;
    fill: white;
    margin: 0px 0px 5px 0px;
  }
  .pulse-icon {
    font-size: 1em;
    margin: 0px 0px auto 0px;
  }
  .top {
    padding: 0px 10px;
    margin: 0px;
  }

  .cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .e,
  .f {
    grid-column: 1 span;
    grid-row: 1 span;
  }

  .table {
    font-size: small;
  }
  .table .one {
    flex: 1;
  }
  .table .two {
    flex: 2;
  }
  .table .three {
    flex: 1;
  }

  .page-landing .action-email-block form {
    width: 100%;
  }

  .page-landing .btn-iexec,
  .page-landing .action-email-block .btn-iexec {
    width: 100%;
  }

  .block-timeline .MuiStep-root {
    padding-left: 20px;
    padding-right: 20px;
  }

  .block-timeline .MuiStepLabel-iconContainer {
    padding-right: 20px;
  }
}

@media (max-width: 500px) {
  .page-landing .flip-clock {
    --fcc-digit-block-width: 32px;
    --fcc-digit-block-height: 50px;
    --fcc-digit-font-size: 36px;
    --fcc-label-font-size: 8px;
  }
}
